  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;700&display=swap');

  :root {
  --primary-color: #264653;
  --secondary-color: #2A9D8F;
  --tertiary-color: #E9C46A;
  --fourth-color: #F4A261;
  --fifth-color: #E76F51;
  --font-color: #4987A0;
  --bg-color: white;
  --heading-color: #d3ddee;
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
}

h3 {
  color: var(--font-color);
}

h4 {
  color: var(--font-color);
  size: smaller;
}

label {
  color: var(--secondary-color);
}

#menu {
  background-color: white;
  color: var(--primary-color);
}

#nav {
  background-color: white;
  color: var(--primary-color);
}

#nav:hover {
  background-color: white;
  color: var(--secondary-color);
}

#login-label {
  color: var(--secondary-color);
}

button {
  font-family: 'Assistant', sans-serif;
}

#regular-btn {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-color: var(--font-color);
  width: auto;
}

#regular-btn:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-color: var(--bg-color);
}

.selected {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-color: var(--bg-color);
}

#sign-save-btn {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  width: auto;
}

#sign-save-btn:hover {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border-color: var(--bg-color);
}

#cancel-btn {
  background-color: var(--bg-color);
  color: var(--fifth-color);
  border-color: var(--fifth-color);
  width: auto;
}

#cancel-btn:hover {
  background-color: var(--fifth-color);
  color: var(--bg-color);
  border-color: var(--bg-color);
}

#edit-btn {
  background-color: var(--bg-color);
  color: var(--fourth-color);
  border-color: var(--fourth-color);
  width: auto;
}

#edit-btn:hover {
  background-color: var(--fourth-color);
  color: var(--bg-color);
  border-color: var(--bg-color);
}

#link-btn {
  background-color: var(--bg-color);
  color: var(--fourth-color);
  text-decoration-color: var(--fourth-color);
  border-color: var(--fourth-color);
  width: auto;
}

#link-btn:hover {
  background-color: var(--fourth-color);
  color: var(--bg-color);
  text-decoration-color: var(--fourth-color);
  border-color: var(--bg-color);
}

#park-page-link {
  text-decoration-color: var(--secondary-color);
}

#park-list-div {
  margin: auto;
  width: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
  margin-bottom: 35px;
  margin-top: 2%;
}

.cards {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.card {
  margin-bottom: 10px;
  padding: 10px;
}

.card-title {
  color: var(--primary-color)
}

.card-subtitle {
  color: var(--primary-color)
}

.card-text {
  color: var(--primary-color)
}

#card-link {
  text-decoration-color: var(--primary-color);
  color: var(--primary-color);
}

#card-list {
  color: var(--primary-color)
}

#card-border {
  border-color: var(--primary-color)
}

#edit-form {
  font-weight: bold;
}

#modal-title {
  color: var(--primary-color)
}

#search {
  display: flex;
  flex-direction: column;
}

.heading-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  align-content: center;
  width: 100vw;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.park-container {
  display: flex;
}

.park-details-container {
  flex: 1 1 50%;
  padding-right: 20px;
}

.park-image-container {
  flex: 1 1 50%;
  text-align: right;
}

/* #top-right-filter {
  position: absolute;
  top: 125px;
  right: 85px;
  display: flex;
  flex-direction: column;
}

#top-left-filter {
  position: absolute;
  top: 125px;
  left: 85px;
  display: flex;
  flex-direction: column;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ul {
  list-style-type: none;
} */

.required {
  font-weight: bold;
}

.required:after {
  color: #e32;
  content: ' *';
  display:inline;
}

#required-text {
  color: #e32;
}

.rating {
  display: flex;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: gray;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: gold;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}