  @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;700&display=swap');

  :root {
  --primary-color: #264653;
  --secondary-color: #2A9D8F;
  --tertiary-color: #E9C46A;
  --fourth-color: #F4A261;
  --fifth-color: #E76F51;
  --font-color: #4987A0;
  --bg-color: white;
  --heading-color: #d3ddee;
}

body {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
}

h3 {
  color: var(--font-color);
}

h4 {
  color: var(--font-color);
  size: smaller;
}

label {
  color: var(--secondary-color);
}

#login-label {
  color: var(--secondary-color);
}

button {
  font-family: 'Assistant', sans-serif;
}

#regular-btn {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border-color: var(--font-color);
  width: auto;
}

#regular-btn:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-color: var(--bg-color);
}

#sign-save-btn {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  width: auto;
}

#sign-save-btn:hover {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.required {
  font-weight: bold;
}
.required:after {
  color: #e32;
  content: ' *';
  display:inline;
}

#required-text {
  color: #e32;
}

.selected {
  background-color: #007bff;
  color: #fff;
}

.rating {
  display: flex;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: gray;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: gold;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}